---
layout: null
---

[drawer] {
  background-color: #fff;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}

[pages] {
  height: 100%;
  background-color: #f9f9f9;
}

core-toolbar {
  background-color: #526E9C;
  color: #fff;
}
[main] {
	height: 100%;
}
#drawerPanel:not([narrow]) #menuButton {
  display: none;
}
core-menu {
  padding: 0;
  margin: 0;
}
paper-item /deep/ .button-content {
	padding:0;
}
/* menu item */
core-menu paper-item {
  padding-left: 60px;
}

paper-item.core-selected {
  background-color: #69F0AE;
}
body {
font-family: RobotoDraft, sans-serif;
font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
font-family: {{ site.data.colors.navfont }}, sans-serif;
margin: 0;
font-weight: 400;
font-size:20px;
color: #{{ site.data.colors.black }};
}
section {
  padding: 20px 40px;
}
site-scaffold {
	font-family: {{ site.data.colors.navfont }}, sans-serif;
}
paper-fab {
  color: #fff;
  margin-right:2em;
  float:right;
  background: #5677fc;
}
.card {
	box-sizing: border-box;
	margin: 0px;
	padding: 10px;
}
.outer-card {
	background: #fafafa;
	box-sizing: border-box;
	margin: 20px;
	padding: 0px;
}
.outer-card:nth-child(1n+1) {
	background-color: #fafafa;
}
.outer-card:nth-child(1n+1) a {
	color: #1A237E;
}
.outer-card:nth-child(1n+1) h3 {
	color: #1A237E;
}
.outer-card:nth-child(1n+1) h3 > p {
	font-family: RobotoDraft, sans-serif;
	text-transform: none;
}
.outer-card:nth-child(2n+2) {
	background-color: #3F51B5;
}
.outer-card:nth-child(2n+2) a {
	color: #E8EAF6;
}
.outer-card:nth-child(2n+2) h3 {
	color: #E8EAF6;
}
.outer-card:nth-child(2n+2) h3 > p {
	font-family: RobotoDraft, sans-serif;
	text-transform: none;
	color:white;
}
#drawerPanel, [drawer] {
	background-color: #21CA8F;
}
.title, .title a {
font-size: 2.5rem;
}
.title a {
color: #{{ site.data.colors.white }};
}
.title a:hover, core-menu paper-item a:hover {
text-decoration: none;
}
core-animated-pages {
  width: 85%;
  height: 85%;
  -webkit-user-select: none;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}

core-animated-pages > * {
	border-radius: 5px;
	background-color: white;
	font-size: inherit;
	overflow-y: auto;
	padding: 30px;
}
/*h1 {
font-size: 4.5rem;
}
h2 {
font-size: 4rem;
}
h3 {
font-size: 3.5rem;
}
h4 {
font-size: 2.5rem;
}
h5 {
font-size: 2.5rem;
}
h6 {
font-size: 2rem;
}*/
p {
font-size: 1.1rem;
line-height: 1.5rem;
}
p {

color: #{{ site.data.colors.dark-gray }};
}
a {
text-decoration: none;
color: #{{ site.data.colors.primary1 }};
}
a:hover {
text-decoration: underline;
}
.content {
margin: 32px;
padding: 32px 64px 32px 64px;
background-color: #{{ site.data.colors.light-gray }};
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
core-header-panel {
background-color: #00bcd4;
}
html /deep/ core-toolbar {
background-color: #1A237E;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
height: 128px;
/*z-index: 1;*/
/*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);*/
}
.title-container {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.panel-toolbar {
box-shadow: none;
}
core-menu paper-item a {
	padding:16px;
}
core-menu paper-item, core-menu paper-item a {
	color: #444;
}
.download-button {
	margin-left: 16px;
}
@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}