<!DOCTYPE html>
<html>
  {% include head.html %}
  <body unresolved>
    <core-scaffold responsivewidth="900px">
      {% include header.html %}
      <div class="title-container" tool flex>
        <h1 class="title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
        <paper-icon-button class="download-button" icon="file-download"></paper-icon-button>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </core-scaffold>
    {% include footer.html %}
  </body>
</html>
