<!DOCTYPE html>
<html>
  {% include head.html %}
  <body unresolved>
    <sampler-scaffold label="{{ site.title }}">
    {% for page in site.pages %}
      <core-item label="{{ page.title }}" url="{{ page.baseurl }}{{ page.url }}"></core-item>
    {% endfor %}
    <h2>Work</h2>
    {% for post in site.posts %}
      {% if post.layout == 'work' %}
        <core-item label="{{ post.title }}" url="{{ site.baseurl }}{{ post.url }}">
          <span class="post-meta">{{ post.tech }}</span>
        </core-item>
      {% endif %}
    {% endfor %}

    <core-menu>
      <core-submenu icon="create" label="Blog">
      {% for post in site.posts %}
        {% if post.layout == 'blog' %}
          <core-item label="{{ post.title }}" url="{{ site.baseurl }}{{ post.url }}">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p>
              {{ post.excerpt | strip_html | truncatewords:20}}
            </p>
          </core-item>
        {% endif %}
      {% endfor %}
      </core-submenu>
      <core-submenu icon="bookmark" label="Bookmarks">
        {% for post in site.posts %}
          {% if post.layout == 'post' %}
            <core-item label="{{ post.title }}" url="{{ site.baseurl }}{{ post.url }}">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <p>
                {{ post.excerpt | strip_html | truncatewords:20}}
              </p>
            </core-item>
          {% endif %}
        {% endfor %}
        </core-submenu>
    </core-menu>
    </sampler-scaffold>
  </body>
</html>
