<!DOCTYPE html>
<html>
  {% include head.html %}
  <body unresolved>
  	<section>
		{% for post in site.posts %}
			{% if page.title == 'Blog' %}
				{% if post.layout == 'blog' %}
					<paper-item>
						<a href="{{ site.baseurl }}{{ post.url }}" target="_self" layout horizontal center>{{ post.title }}</a>
					</paper-item>
				{% endif %}
			{% endif %}
			{% if page.title == 'Snippets' %}
				{% if post.layout == 'post' %}
					<paper-item>
						<a href="{{ site.baseurl }}{{ post.url }}" target="_self" layout horizontal center>{{ post.title }}</a>
					</paper-item>
				{% endif %}
			{% endif %}
		{% endfor %}
  	</section>
  </body>
</html>
