<!DOCTYPE html>
<html>
  {% include head.html %}
  <body unresolved>
  	<section>
  		<div horizontal layout wrap>
			{% for post in site.posts %}
				{% if page.title == 'Blog' %}
					{% if post.layout == 'blog' %}
						<paper-shadow class="outer-card" z="1" layout horizontal>
							<paper-item class="card">
								<a href="{{ site.baseurl }}{{ post.url }}" target="_self">{{ post.title }}</a>
							</paper-item>
						</paper-shadow>
					{% endif %}
				{% endif %}
				{% if page.title == 'Snippets' %}
					{% if post.layout == 'post' %}
						<paper-shadow class="outer-card" z="1" layout horizontal>
							<paper-item class="card">
								<a href="{{ site.baseurl }}{{ post.url }}" target="_self">{{ post.title }}</a>
							</paper-item>
						</paper-shadow>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
  	</section>
  </body>
</html>
